{% extends "master" %}

{% block content %}
  <form>
    <input type="text" name="name" placeholder="name">
    <textarea name="complaint" rows="8" cols="40"></textarea>

    <button type="submit">Submit</button>
  </form>
{% endblock %}
