<form action="/register" method="POST">
  {{ csrfField }}
  <p>
    <input type="text" name="email" placeholder="Email">
  </p>
  <p>
    <input type="password" name="password" placeholder="Password">
  </p>

  <p>
    <button>Register Fool</button>
  </p>
</form>
